@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000 !important;
  background-image: url('../../public/bg-1.jpg');
  background-size: cover !important;
  background-repeat: no-repeat;
}

.signup-box{
  border: 2px solid;
  width: 500px;
  padding: 20px;
  text-align: center;
  color: #fff;
}

.signup-box label{
  margin: 10px 0;
}

.title{ 
  color: #fff;
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 30px;
}

.chat-end-color{
  background-color: #0c2f0d;
  color: beige;
  font-weight: 500;
  font-size: 18px;
}
.chat-start-color{
  background-color: hsl(242deg 53.77% 18.02%);
  color: beige;
    font-weight: 500;
    font-size: 18px;
}

::-webkit-scrollbar{
  width: 6px !important;
}

::-webkit-scrollbar-track{
  background-color: #000000;
}

::-webkit-scrollbar-thumb{
  background-color: #fff;
  border-radius: 10px;
}